* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
}

.row .cell {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    --black-color: rgb(177, 176, 176);
}

.row:nth-child(2n) .cell:nth-child(2n) {
    background-color: var(--black-color);
}

.row:nth-child(2n-1) .cell:nth-child(2n+ 1) {
    background-color: var(--black-color);
}

.cell span {
    font-size: 4rem;
}

.posibleMove {
    background-color: #96e79d91 !important;
}