*{ margin: 0;padding: 0;box-sizing: border-box; }

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.row{
    display: flex;
}
.row .cell{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;align-items: center;justify-content: center;
}
.cell span{
    font-size: 4rem;
}
.posibleMove{
    background-color: #96e79d91;
}